@page "/"
@inject ILogger<Home> logger

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* Parameer-binding to Components *@
<Counter StartingValue="5"></Counter>
<Counter StartingValue="2" IncrementValue="10"></Counter>

@* Event Handling of Button *@
<p>Click the button to add a new starship</p>
<button @onclick=addStarship>Add Starship</button>

@for(int i =0; i<starshipCount; i++)
{
    <StarshipDemo></StarshipDemo>
}


<p>Calculate the square of this number...</p>
<p><input @bind="@number" @bind:event="oninput"/></p>
<Square param_int="@number" />

<p><UseEvent ExampleEvent="@HandleExampleEvent"></UseEvent></p>
<p>@result</p>

@code {
    int number { get; set; }

    string result;
    int count = 0;
    async Task HandleExampleEvent()
    {
        result = $"Event has been used {++count} times";
    }

    int starshipCount = 0;
    void addStarship()
    {
        starshipCount++;
        logger.LogInformation("Button clicked!");
    }

}